[submodule "Third_Party/sam2"]
	path = Third_Party/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "Third_Party/FoundationStereo"]
	path = Third_Party/FoundationStereo
	url = https://github.com/NVlabs/FoundationStereo.git
[submodule "Third_Party/GroundingDINO"]
	path = Third_Party/GroundingDINO
	url = https://github.com/yoyoyo-momo/GroundingDINO.git
	branch = cuda13-compat
[submodule "Third_Party/GraspGen"]
	path = Third_Party/GraspGen
	url = https://github.com/NVlabs/GraspGen.git
